# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# Data files
/data/gpx/
/data/osm/*
!/data/osm/.gitkeep
# Ignore locally generated DEM tiles
/data/*.tif
# Generated plan reviews
reviews/
/plan_images
/gpx_output_colab
/gps
/draft_plans
/failed-gpx
/gpx
/src/boise_trails_ai.egg-info
data/idaho-latest.osm.pbf
